@media (max-width: 1200px)
  .container
    max-width: 960px
  .slider
    width: 600px
  .hotel
    &-slider
      &__img
        height: 100%
        object-fit: cover
  .card
    width: 230px
    height: 230px
@media (max-width: 992px)
  .container,
  .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
      margin-right: 73px
    &-menu
      padding: 19px 15px 22px 15px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .hotel
    padding-bottom: 56px
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
      width: 100%
    &-slider
      width: 100%
  .map
    width: 340px
  .subscribe
    &__button
      font-size: 12px
      line-height: 15px
    &__input
      font-weight: 300
      font-size: 14px
      line-height: 18px
  .reviews
    &__title
      font-size: 30px
      line-height: 38px
      margin-top: 1px
      margin-bottom: 55px
    &-slider
      &__item
        max-width: 580px
  .activities
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 255px
@media (max-width: 767px)
  .container
    max-width: 567px
    width: 92%
  .navbar
    &__search,&-menu,&__user
      display: none
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .stars
    flex-basis: auto
  .hotel
    padding-bottom: 20px
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__raiting
        display: none
      &__offer
        order: -1
        margin-left: 0
    &-slider
      height: 350px
    &-right
      flex-direction: column
      min-height: 450px
  .booking
    width: 100%
  .map
    width: 100%
    &__yandex
      width: 100%
  .newsletter
    &-title
      font-weight: 300
      font-size: 20px
      line-height: 25px
      margin-bottom: 15px
      &__strong
        font-weight: 600
        font-size: 30px
        line-height: 38px
    &-wrapper
      flex-direction: column
      padding-top: 17px
      width: 88%
      align-items: flex-start
  .subscribe
    &__button
      font-size: 12px
      line-height: 15px
    &__input
      font-weight: 300
      font-size: 14px
      line-height: 18px
  .reviews
    padding: 40px 0 50px 0
    &__title
      font-size: 30px
      line-height: 38px
    &-slider
      &__avatar
        margin-bottom: 3px
      &__item
        padding: 0 30px 30px
        &::after, &::before
          display: none
      &__button
        top: 32px
        &--prev
          left: 50%
          transform: translate(-50%, 0)
          margin-left: -85px
        &--next
          right: 50%
          transform: translate(50%, 0)
          margin-right: -85px
  .card
    height: 255px
    width: 280px
  .activities
    padding: 40px 0 60px 0
    &__card
      width: 260px
    &__title
      margin-bottom: 36px
      font-weight: bold
      font-size: 18px
      line-height: 23px

@media (max-width: 576px)
  .logo
    width: 99px
  .container
    width: 88%
  .navbar
    &-top
      padding-top: 23px
  .hotel
    padding-top: 0
    &-slider
      height: 180px
    &__slider
      margin-bottom: 20px
    &-right
      min-height: 403px
    &-info
      margin-bottom: 20px
  .stars
    margin-right: 18px
  .map
    height: 172px
  .newsletter
    padding: 76px 0 83px 0
    &__title
      margin-bottom: 37px
  .subscribe
    width: 100%
  .reviews
    &__title
      font-size: 18px
      line-height: 23px
      text-align: center
      text-transform: uppercase
  .card
    width: 100%
    &__title
      max-width: 200px
    &:nth-child(1)
      order: 1
    &:nth-child(2)
      order: 3
    &:nth-child(3)
      order: 2
    &:nth-child(4)
      order: 4
  .activities
    &__card
      &--main
        margin-bottom: 28px
