@media (max-width: 1200px)
  .container
    max-width: 960px
  .slider
    width: 600px
  .hotel
    &-slider
      &__img
        height: 100%
        object-fit: cover
  .card
    width: 230px
    height: 230px
  .footer
    &__input
      &-group
        flex-basis: 100%
  .modal
    &__dialog
      width: 450px
      height: 500px
      padding: 13px 58px
    &__input
      height: 40px
    &__message
      min-height: 75px

@media (max-width: 992px)
  .container,
  .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
      margin-right: 73px
    &-menu
      padding: 19px 15px 22px 15px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .hotel
    padding-bottom: 56px
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
      width: 100%
    &-slider
      width: 100%
  .map
    width: 340px
  .subscribe
    &__button
      font-size: 12px
      line-height: 15px
    &__input
      font-weight: 300
      font-size: 14px
      line-height: 18px
  .reviews
    padding: 40px 0 60px 0
    &__title
      font-size: 30px
      line-height: 38px
      margin-top: 1px
      margin-bottom: 55px
    &-slider
      &__item
        max-width: 580px
  .activities
    padding-bottom: 50px
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 255px
    &__title
      max-width: 200px
  .footer
    padding-top: 73px
    &__title
      &--mb-1
        margin-bottom: 30px
        margin-top: 20px
      &--mb-3
        margin-bottom: 20px
        margin-top: 20px
      &--inline
        margin-left: -30px
    &__button
      &--thank
        margin-left: 100px
        padding: 0
        height: 50px
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-row-gap: 40px
    &__input
      &-group
        flex-basis: 47%
    &__logo
      grid-row: 1 / 2
      grid-column: span 2
      max-width: 95px
      height: 120px
      padding-bottom: 15px
    &__social
      &-network
        margin-left: -20px
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
      &--992px
        max-width: 162px
    &__legal
      grid-column: span 2
      margin-left: 15px
    &__additional
      margin-left: -37px
      grid-column: span 2
      width: 260px
    &__contact
      &-details
        grid-column: span 5
        grid-row: 3
      &-form
        grid-column: span 5
        grid-row: 4
        max-width: 540px
  .footer
    &__text
      margin-bottom: 21px
    &__icon-wrapper
      min-width: 47px
      padding: 6px
    &__documents
      grid-row: 5
      margin: 20px 10px 10px 4px
      grid-column: 1 / 4
    &__pay-icons
      grid-row: 5
      grid-column: 5 / 7
      margin-top: 10px
    &__item
      &--mb-2
        margin-bottom: 12px
@media (max-width: 767px)
  body
    padding-top: 78px
  .container
    max-width: 567px
    width: 92%
  .navbar
    &--mobile
      position: fixed
      left: 0
      top: 0
      right: 0
      z-index: 99
    &__user, &__search
      &--mobile
        &--hidden
          display: none
        &--visible
          display: flex
    &__search
      margin-left: auto
      margin-right: auto
      max-width: 243px
    &__user
      flex-direction: column
      justify-content: center
    &-bottom
      overflow-y: scroll
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 78px
      padding-top: 30px
      &--visible
        display: block
    &-menu
      flex-direction: column
      &__item
        margin-bottom: 20px
        &:first-child
          margin-bottom: 27px
        &:nth-child(2)
          margin-bottom: 39px
        &--mobile
          &--visible
            display: block
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &--light
        color: $light
        margin-left: 0
        margin-top: 10px
  .stars
    flex-basis: auto
  .hotel
    padding-bottom: 20px
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__raiting
        display: none
      &__offer
        order: -1
        margin-left: 0
    &-slider
      height: 350px
    &-right
      flex-direction: column
      min-height: 450px
  .booking
    width: 100%
  .map
    width: 100%
    &__yandex
      width: 100%
  .newsletter
    &-title
      font-weight: 300
      font-size: 20px
      line-height: 25px
      margin-bottom: 15px
      &__strong
        font-weight: 600
        font-size: 30px
        line-height: 38px
    &-wrapper
      flex-direction: column
      padding-top: 17px
      width: 88%
      align-items: flex-start
  .subscribe
    &__button
      font-size: 12px
      line-height: 15px
    &__input
      font-weight: 300
      font-size: 14px
      line-height: 18px
  .reviews
    padding: 40px 0 50px 0
    &__title
      font-size: 30px
      line-height: 38px
    &-slider
      &__avatar
        margin-bottom: 3px
      &__item
        padding: 0 30px 30px
        &::after, &::before
          display: none
      &__button
        top: 32px
        &--prev
          left: 50%
          transform: translate(-50%, 0)
          margin-left: -85px
        &--next
          right: 50%
          transform: translate(50%, 0)
          margin-right: -85px
  .card
    height: 255px
    width: 280px
  .activities
    padding: 40px 0 60px 0
    &__card
      width: 260px
    &__title
      margin-bottom: 36px
      font-weight: bold
      font-size: 18px
      line-height: 23px
  .footer
    &__title
      &--inline
        margin: 0
    &-wrapper
      grid-template-columns: repeat(5, 1fr)
    &__input
      flex-basis: 100%
    &__categories
      // grid-row: 1 / 3
    &__documentss
      grid-row: span 4
    &__additional
      margin: 0
      grid-row: 2 / 3
      grid-column: span 2
    &__categories
      grid-row: 2 / 3
    &__social-network
      grid-row: 1 / 2
      grid-column: span 3
    &__social-links
      margin-left: 30px
    &__button
      &--thank
        margin: 0
        min-height: 30px
        padding: 0
    &__legal
      grid-row: 3 / 4
      margin: 0
      grid-column: span 3
    &__logo
      grid-row: 1 / 2
      grid-column: span 2
    &__contact-details
      grid-row: 4 / 5
      grid-column: span 3
    &__contact-form
      grid-row: 5 / 6
      grid-column: span 4
    &__documents
      grid-row: 6 / 7
    &__pay-icons
      grid-row: 6 / 7
      margin-top: 30px
  .modal
    &__dialog
      width: 350px
      height: 350px
      padding: 13px 58px
      overflow-y: auto
      top: 45%
    &__input
      &-group
        height: 30px
        margin-bottom: 10px
    &__message
      min-height: 55px
    &__button
      margin-bottom: 10px
      min-width: 130px
@media (max-width: 576px)
  .logo
    width: 99px
  .container
    width: 88%
  .navbar
    &-menu
      padding: 0 15px 22px 15px
      &__item
        font-weight: bold
        font-size: 12px
        line-height: 15px
    &-top
      padding-top: 23px
    &-bottom
      top: 71px
      overflow-y: scroll
  .hotel
    padding-top: 0
    &-slider
      height: 180px
    &__slider
      margin-bottom: 20px
    &-right
      min-height: 403px
    &-info
      margin-bottom: 20px
  .stars
    margin-right: 18px
  .breadcrumb
    &-list
      padding: 15px 0
  .map
    height: 172px
  .newsletter
    padding: 76px 0 83px 0
    &__title
      margin-bottom: 37px
  .subscribe
    width: 100%
  .reviews
    &__title
      font-size: 18px
      line-height: 23px
      text-align: center
      text-transform: uppercase
  .card
    width: 100%
    &__title
      max-width: 200px
    &:nth-child(1)
      order: 1
    &:nth-child(2)
      order: 3
    &:nth-child(3)
      order: 2
    &:nth-child(4)
      order: 4
      margin-bottom: 0
  .activities
    &__card
      &--main
        margin-bottom: 28px
  .footer
    padding-top: 63px
    &__title
      margin: 0 0 15px 0
      &--inline
        margin: 7px 0 22px 0
      &--mb-3
        margin-top: 12px
      &--mb-1
        margin-bottom: 15px
        margin-top: -15px
      &--mb-2
        margin-bottom: 22px
    &-wrapper
      grid-template-columns: 100%
      grid-row-gap: 30px
    &__logo
      width: 95px
      grid-row: 1 / 2
      grid-column: 1 / 2
      margin: 0
      padding: 0
    &__icon-wrapper
      min-width: 30px
    &__social
      &-network
        display: flex
        flex-wrap: wrap
        align-items: stretch
        max-width: 167px
        min-height: 67px
        grid-row: 2 / 3
        grid-column: 1 / 2
        margin: 0
      &-links
        margin: 0
    &__item
      &--mb-2
        margin-bottom: 22px
    &__additional
      margin: 0
      grid-row: 4 / 5
      grid-column: 1 / 2
    &__categories
      grid-row: 5 / 6
      grid-column: 1 / 2
    &__legal
      grid-row: 3 / 4
      grid-column: 1 / 2
      margin-left: 0
    &__button
      order: 1
      &--thank
        max-height: 20px
        padding: 0

    &__message
      margin-bottom: 16px
    &__info
      flex-basis: 100%
      margin-bottom: 13px
    &__contact
      &-details
        grid-row: 6 / 7
        grid-column: 1 / 2
      &-form
        margin-top: 15px
        grid-row: 7 / 8
        grid-column: 1 / 2
    &__documents
      display: flex
      grid-column: 1 / 2
      grid-row: 8 / 9
      justify-content: space-between
      margin-bottom: 13px
      margin-top: -2px
    &__docs
      margin-right: 0
    &__pay-icons
      grid-column: 1 / 2
      grid-row: 8 / 9
    &__img-icons
      margin-top: -12px
      margin-right: 143px
  .modal
    &__dialog
      width: 270px
      height: 270px
      padding: 13px 58px
      top: 40%
    &__input
      height: 25px
      margin-bottom: 10px
      padding: 3px
    &__message
      min-height: 15px
      padding: 3px
    &__button
      margin-bottom: 10px
      min-height: 20px
      padding: 6px
      width: 100%
      min-width: 154px
